@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
#select-market-dropdown{
    display:block !important;
    z-index: 10;
}
.list-icon{
    width: 30px;
}
.text-left{
    text-align: left !important;
}
.text-center{
    text-align: center !important;
}


/* Structure */
.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
    position: relative;
  }
  
  .example-header {
    min-height: 64px;
    display: flex;
    align-items: center;
    padding-left: 24px;
    font-size: 20px;
  }
  
  .example-table {
    overflow: auto;
    min-height: 300px;
  }
  
  .example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .example-rate-limit-reached {
    color: #980000;
    max-width: 360px;
    text-align: center;
  }
  
  /* Column Widths */
  .mat-column-number,
  .mat-column-state {
    max-width: 64px;
  }
  
  .mat-column-created {
    max-width: 124px;
  }

  .mat-icon-button{
    background-color: transparent !important;
  }

  .margin-right-5{
    margin-right: 5px !important;
  }
 .mat-column--{
   max-width:60px;
 }
 .red{
   color: red !important;
 }
 .green { 
   color : green !important;
 }

 @font-face
 {
   font-family:barfont;
   src:url(../fonts/barfont.ttf) format("truetype");
   font-weight:400;
   font-style:normal;
  }

 [class*=" bc-glyph-"], [class^=bc-glyph-] {
  font-family: barfont!important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.bc-glyph-times:before {
  content: "\e823";
}
.header .company-info-bar .company-info-inner .company-info-close {
  display: block;
  position: absolute;
  right: 15px;
  top: 5px;
  width: 20px;
  height: 21px;
  font-size: 20px;
  text-decoration: none;
}