<h2 class="page-header">Coin List</h2>
<!-- <table class="table table-striped coinTickers" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="20">
    <thead>
    <tr>
        <th  class="text-center">
            <mfDefaultSorter by="Symbol">Rank</mfDefaultSorter>
        </th>
        <th class="text-center">
            <mfDefaultSorter by="Symbol">Name</mfDefaultSorter>
        </th>
        <th class="text-center">
            <mfDefaultSorter by="Symbol">Market Cap</mfDefaultSorter>
        </th>
        <th class="text-center">
            <mfDefaultSorter by="Symbol">Price</mfDefaultSorter>
        </th>
        <th class="text-center">
            <mfDefaultSorter by="Symbol">Volumn(24)</mfDefaultSorter>
        </th>
        <th class="text-center">
            <mfDefaultSorter by="Symbol">Circulating Supply</mfDefaultSorter>
        </th>
        <th class="text-center">
            <mfDefaultSorter by="Symbol">Change (24)</mfDefaultSorter>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of mf.data">
        <td class="text-center">{{item.rank}}</td>
        <td class="text-center">{{item.name}}</td>
        <td class="text-center">${{item.market_cap_usd}}</td>
        <td class="text-center">${{item.price_usd}}</td>
        <td class="text-center">${{item['24h_volume_usd']}}</td>
        <td class="text-center">{{item['available_supply']}}BTC</td>
        <td class="text-center">{{item['percent_change_24h']}}%</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td class="col-md-5">
            <mfBootstrapPaginator [rowsOnPageSet]="[20,50,100,200]"></mfBootstrapPaginator>
        </td>
    </tr>
    </tfoot>
</table> -->

<div class= "filter">
    <table classs="table">
            <tbody>
                <tr>
                    <td>
                        <mat-form-field>
                            <mat-select placeholder="Price" [(ngModel)]="selectedprice" (change)="onChange($event)">
                                <mat-option value="_">Any</mat-option>
                                <mat-option value="_100">Under  $100</mat-option>
                                <mat-option value="_200">Under  $200</mat-option>
                                <mat-option value="_300">Under  $300</mat-option>
                                <mat-option value="_500">Under  $500</mat-option>
                                <mat-option value="_1000">Under  $1000</mat-option>
                                <mat-option value="_2000">Under  $2000</mat-option>
                                <mat-option value="_3000">Under  $3000</mat-option>
                                <mat-option value="_5000">Under  $5000</mat-option>
                                <mat-option value="_10000">Under  $10000</mat-option>
                                <mat-option value="_20000">Under  $20000</mat-option>
                                <mat-option value="1_">Over  $1</mat-option>
                                <mat-option value="100_">Over  $100</mat-option>
                                <mat-option value="200_">Over  $200</mat-option>
                                <mat-option value="300_">Over  $300</mat-option>
                                <mat-option value="500_">Over  $500</mat-option>
                                <mat-option value="1000_">Over  $1000</mat-option>
                                <mat-option value="2000_">Over  $2000</mat-option>
                                <mat-option value="3000_">Over  $3000</mat-option>
                                <mat-option value="5000_">Over  $5000</mat-option>
                                <mat-option value="10000_">Over  $10000</mat-option>
                                <mat-option value="1_100">$1  to  $100</mat-option>
                                <mat-option value="100_200">$100  to  $200</mat-option>
                                <mat-option value="200_300">$200  to  $300</mat-option>
                                <mat-option value="300_500">$300  to  $500</mat-option>
                                <mat-option value="1000_2000">$1000  to  $2000</mat-option>
                                <mat-option value="2000_3000">$2000  to  $3000</mat-option>
                                <mat-option value="3000_5000">$3000  to  $5000</mat-option>
                                <mat-option value="5000_10000">$5000  to  $10000</mat-option>
                                <mat-option value="10000_20000">$10000  to  $20000</mat-option>

                            </mat-select>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field>
                            <mat-select placeholder="MarketCap"[(ngModel)]="selectedmarket" (change)="onChange($event)">
                                <mat-option value="_">Any</mat-option>
                                <mat-option value="200000000000_">Mega($200bln and more)</mat-option>
                                <mat-option value="10000000000_200000000000">Large($10bln to $200bln)</mat-option>
                                <mat-option value="2000000000_10000000000">Mid($2bln to 10bln)</mat-option>
                                <mat-option value="300000000_2000000000">Small($300mln to 2bln)</mat-option>
                                <mat-option value="50000000_300000000">Micro($50mln to 300mln)</mat-option>
                                <mat-option value="10000000000_">+Large(over $10bln)</mat-option>
                                <mat-option value="2000000000_">+Mid(over $2bln)</mat-option>
                                <mat-option value="300000000_">+Small(over $300mln)</mat-option>
                                <mat-option value="50000000_">+Micor(over $50mln)</mat-option>
                                <mat-option value="_200000000000">-Large(under $200bln)</mat-option>
                                <mat-option value="_10000000000">-Mid(under $10bln)</mat-option>
                                <mat-option value="_2000000000">-Small(under $2bln)</mat-option>
                                <mat-option value="_300000000">-Micro(under $300mln)</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field>
                            <mat-select placeholder="Volumn(24h)" [(ngModel)]="selectedvolumn" (change)="onChange($event)">
                                <mat-option value="_">Any</mat-option>
                                <mat-option value="_50000">Under  50k</mat-option>
                                <mat-option value="_100000">Under  100k</mat-option>
                                <mat-option value="_500000">Under  500k</mat-option>
                                <mat-option value="_750000">Under  750k</mat-option>
                                <mat-option value="_1000000">Under  1M</mat-option>
                                <mat-option value="0_">Over  0</mat-option>
                                <mat-option value="50000_">Over 50k</mat-option>
                                <mat-option value="100000_">Over 100k</mat-option>
                                <mat-option value="200000_">Over 200k</mat-option>
                                <mat-option value="300000_">Over 300k</mat-option>
                                <mat-option value="400000_">Over 400k</mat-option>
                                <mat-option value="500000_">Over 500k</mat-option>
                                <mat-option value="750000_">Over 750k</mat-option>
                                <mat-option value="1000000_">Over  1M</mat-option>
                                <mat-option value="2000000_">Over  2M</mat-option>
                                <mat-option value="5000000_">Over  5M</mat-option>
                                <mat-option value="10000000_">Over  10M</mat-option>
                                <mat-option value="20000000_">Over  20M</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field>
                            <mat-select placeholder="Circulating Supply" [(ngModel)]="selectedcirculate" (change)="onChange($event)">
                                <mat-option value="_">Any</mat-option>
                                <mat-option value="_1000000">Under 1mil</mat-option>
                                <mat-option value="_750000">Under  750k</mat-option>
                                <mat-option value="_500000">Under  500k</mat-option>
                                <mat-option value="_100000">Under  100k</mat-option>
                                <mat-option value="_1000">Under  1k</mat-option>
                                <mat-option value="0_">Over  0</mat-option>
                                <mat-option value="50000_">Over 50k</mat-option>
                                <mat-option value="100000_">Over 100k</mat-option>
                                <mat-option value="200000_">Over 200k</mat-option>
                                <mat-option value="500000_">Over 500k</mat-option>
                                <mat-option value="750000_">Over 750k</mat-option>
                                <mat-option value="1000000_">Over  1M</mat-option>
                                <mat-option value="5000000_">Over  5M</mat-option>
                                <mat-option value="20000000_">Over  20M</mat-option>
                                <mat-option value="1000000_10000000">$1mil  to  $10mil</mat-option>
                                <mat-option value="500000_1000000">$500k  to  $1mil</mat-option>
                                <mat-option value="100000_500000">$100k  to  $500k</mat-option>
                                <mat-option value="10000_100000">$10k  to  $100k</mat-option>
                                <mat-option value="1000_10000">$1k  to  $10k</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field>
                            <mat-select placeholder="Age" [(ngModel)]="selectedage" (change)="onChange($event)">
                                <mat-option value="_">Any</mat-option>
                                <mat-option value="_259200000">Under  3 days</mat-option>
                                <mat-option value="_604800000">Under  1 weeks</mat-option>
                                <mat-option value="_2592000000">Under  1 months</mat-option>
                                <mat-option value="_7776000000">Under  3 months</mat-option>
                                <mat-option value="_15811200000">Under  6 months</mat-option>
                                <mat-option value="_31536000000">Under  1 years</mat-option>
                                <mat-option value="_63072000000">Under  2 years</mat-option>
                                <mat-option value="_94608000000">Under  3years</mat-option>
                                <mat-option value="_126144000000">Under  4years</mat-option>
                                <mat-option value="157680000000_">Over  5 years</mat-option>
                                <mat-option value="126144000000_">Over  4 years</mat-option>
                                <mat-option value="94608000000_">Over  3 years</mat-option>
                                <mat-option value="63072000000_">Over  2 years</mat-option>
                                <mat-option value="31536000000_">Over  1 years</mat-option>
                                <mat-option value="15811200000_">Over  6 months</mat-option>
                                <mat-option value="7776000000_">Over  3 months</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>

                </tr>

            </tbody>
    </table>

</div>

<mat-paginator [length]="resultsLength" [pageSize]="100">
</mat-paginator>


<mat-table #table [dataSource]="dataSource" class="example-table" matSort matSortActive="created" matSortDisableClear matSortDirection="asc">

<!--- Note that these columns can be defined in any order.
The actual rendered columns are set as a property on the row definition" -->

<!-- Ranking Column -->
<ng-container matColumnDef="#">
    <mat-header-cell *matHeaderCellDef disableClear="true" class="header-name">
        #
    </mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.rank }}</mat-cell>
</ng-container>

<!-- Coin Name Column -->
<ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef class="header-name">Name</mat-header-cell>
    <mat-cell *matCellDef="let row"><div class="s-s-{{row.coinName}} currency-logo-sprite left margin-right-5 margin-top-5"></div>
        <a class="currency-name-container" href="#">{{ row.symbol }}</a>
        <div style="font-size: 12px; padding-left: 26px; color: rgb(134, 142, 150);">{{ row.name }}</div>
    </mat-cell>
</ng-container>

<!-- Market Cap Column -->
<ng-container matColumnDef="market_cap">
    <mat-header-cell *matHeaderCellDef [ngClass]="'cellright'" class="header-name">Market Cap</mat-header-cell>
    <mat-cell *matCellDef="let row" [ngClass]="'cellright'">${{ row.cap }}</mat-cell>
</ng-container>

<!-- Price for USD Column -->
<ng-container matColumnDef="price">
    <mat-header-cell *matHeaderCellDef [ngClass]="'cellright'" class="header-name">Price</mat-header-cell>
    <mat-cell *matCellDef="let row" [ngClass]="'cellright'">${{ row.usd }}</mat-cell>
</ng-container>



<!-- Volumn 24h Column -->
<ng-container matColumnDef="volume24h">
    <mat-header-cell *matHeaderCellDef [ngClass]="'cellright'" class="header-name">Volume(24h)</mat-header-cell>
    <mat-cell *matCellDef="let row" [ngClass]="'cellright'">${{ row['vlm'] }}</mat-cell>
</ng-container>

<!-- Circulating Supply Column -->
<ng-container matColumnDef="supplies">
    <mat-header-cell *matHeaderCellDef [ngClass]="'cellright'" class="header-name">Circulating Supply</mat-header-cell>
    <mat-cell *matCellDef="let row" [ngClass]="'cellright'">{{ row['suppies'] }}</mat-cell>
</ng-container>

<!-- Change(24) Column -->
<ng-container matColumnDef="change24h">
    <mat-header-cell *matHeaderCellDef [ngClass] = "'ctmWidth'" class="header-name">%(24h)</mat-header-cell>
    <mat-cell *matCellDef="let row" [ngClass] = "'ctmWidth'"><span class="{{row['p_24h']<0? 'red':'green'}}">${{ row['p_24h'] }} % </span></mat-cell>
</ng-container>

<!-- Change(1h) Column -->
<ng-container matColumnDef="change1h">
    <mat-header-cell *matHeaderCellDef [ngClass] = "'ctmWidth'" class="header-name">%(1h)</mat-header-cell>
    <mat-cell *matCellDef="let row"[ngClass] = "'ctmWidth'"><span class="{{row['p_1h']<0? 'red':'green'}}">${{ row['p_1h'] }} % </span></mat-cell>
</ng-container>

<!-- Change(7d) Column -->
<ng-container matColumnDef="change7d">
    <mat-header-cell *matHeaderCellDef [ngClass] = "'ctmWidth'" class="header-name">%(7d)</mat-header-cell>
    <mat-cell *matCellDef="let row" [ngClass] = "'ctmWidth'"><span class="{{row['p_7d']<0? 'red':'green'}}">${{ row['p_7d'] }} % </span></mat-cell>
</ng-container>

<!-- Change(1M) Column -->
<ng-container matColumnDef="change1M">
    <mat-header-cell *matHeaderCellDef [ngClass] = "'ctmWidth'" class="header-name">%(1M)</mat-header-cell>
    <mat-cell *matCellDef="let row" [ngClass] = "'ctmWidth'"><span class="{{row['p_1M']<0? 'red':'green'}}">${{ row['p_1M'] }} % </span></mat-cell>
</ng-container>

<!-- Change(7d) Column -->
<ng-container matColumnDef="change6M">
    <mat-header-cell *matHeaderCellDef [ngClass] = "'ctmWidth'" class="header-name">%(6M)</mat-header-cell>
    <mat-cell *matCellDef="let row" [ngClass] = "'ctmWidth'"><span class="{{row['p_6M']<0? 'red':'green'}}">${{ row['p_6M'] }} % </span></mat-cell>
</ng-container>

<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

