<h2 class="page-header">Coin List</h2>
<!-- <table class="table table-striped coinTickers" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="20">
    <thead>
    <tr>
        <th  class="text-center">
            <mfDefaultSorter by="Symbol">Rank</mfDefaultSorter>
        </th>
        <th class="text-center">
            <mfDefaultSorter by="Symbol">Name</mfDefaultSorter>
        </th>
        <th class="text-center">
            <mfDefaultSorter by="Symbol">Market Cap</mfDefaultSorter>
        </th>
        <th class="text-center">
            <mfDefaultSorter by="Symbol">Price</mfDefaultSorter>
        </th>
        <th class="text-center">
            <mfDefaultSorter by="Symbol">Volumn(24)</mfDefaultSorter>
        </th>
        <th class="text-center">
            <mfDefaultSorter by="Symbol">Circulating Supply</mfDefaultSorter>
        </th>
        <th class="text-center">
            <mfDefaultSorter by="Symbol">Change (24)</mfDefaultSorter>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of mf.data">
        <td class="text-center">{{item.rank}}</td>
        <td class="text-center">{{item.name}}</td>
        <td class="text-center">${{item.market_cap_usd}}</td>
        <td class="text-center">${{item.price_usd}}</td>
        <td class="text-center">${{item['24h_volume_usd']}}</td>
        <td class="text-center">{{item['available_supply']}}BTC</td>
        <td class="text-center">{{item['percent_change_24h']}}%</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td class="col-md-5">
            <mfBootstrapPaginator [rowsOnPageSet]="[20,50,100,200]"></mfBootstrapPaginator>
        </td>
    </tr>
    </tfoot>
</table> -->
<div class="filter-title">
    <span class="filter-text">Filter</span>
</div>
<div class= "filter">
    <table classs="table">
            <tbody>
                <tr>
                    <td>
                        <mat-form-field>
                                <mat-select placeholder="Any">
                                    <mat-option value="option">Under  $100</mat-option>
                                    <mat-option value="option">Under  $200</mat-option>
                                    <mat-option value="option">Under  $300</mat-option>
                                    <mat-option value="option">Under  $500</mat-option>
                                    <mat-option value="option">Under  $1000</mat-option>
                                    <mat-option value="option">Under  $2000</mat-option>
                                    <mat-option value="option">Under  $3000</mat-option>
                                    <mat-option value="option">Under  $5000</mat-option>
                                    <mat-option value="option">Under  $10000</mat-option>
                                    <mat-option value="option">Under  $20000</mat-option>
                                    <mat-option value="option">Over  $1</mat-option>
                                    <mat-option value="option">Over  $100</mat-option>
                                    <mat-option value="option">Over  $200</mat-option>
                                    <mat-option value="option">Over  $300</mat-option>
                                    <mat-option value="option">Over  $500</mat-option>
                                    <mat-option value="option">Over  $1000</mat-option>
                                    <mat-option value="option">Over  $2000</mat-option>
                                    <mat-option value="option">Over  $3000</mat-option>
                                    <mat-option value="option">Over  $5000</mat-option>
                                    <mat-option value="option">Over  $10000</mat-option>
                                    <mat-option value="option">$1  to  $100</mat-option>
                                    <mat-option value="option">$100  to  $200</mat-option>
                                    <mat-option value="option">$200  to  $300</mat-option>
                                    <mat-option value="option">$300  to  $500</mat-option>
                                    <mat-option value="option">$1000  to  $2000</mat-option>
                                    <mat-option value="option">$2000  to  $3000</mat-option>
                                    <mat-option value="option">$3000  to  $5000</mat-option>
                                    <mat-option value="option">$5000  to  $10000</mat-option>
                                    <mat-option value="option">$10000  to  $20000</mat-option>

                                </mat-select>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field>
                                <mat-select placeholder="Markets Volume">
                                    <mat-option value="option">AnY</mat-option>
                                </mat-select>
                        </mat-form-field>
                    </td>  
        
                </tr>
            </tbody>
    </table>

</div>

<mat-paginator [length]="resultsLength" [pageSize]="100">
</mat-paginator>


<mat-table #table [dataSource]="dataSource" class="example-table" matSort matSortActive="created" matSortDisableClear matSortDirection="asc">

<!--- Note that these columns can be defined in any order.
The actual rendered columns are set as a property on the row definition" -->

<!-- Market Cap Column -->
<ng-container matColumnDef="market_cap">
    <mat-header-cell *matHeaderCellDef>Market Cap</mat-header-cell>
    
    <mat-cell *matCellDef="let row">${{ row.market_cap_usd }}</mat-cell>
</ng-container>

<!-- Price for USD Column -->
<ng-container matColumnDef="price">
    <mat-header-cell *matHeaderCellDef>Price</mat-header-cell>
    <mat-cell *matCellDef="let row">${{ row.price_usd }}</mat-cell>
</ng-container>

<!-- Coin Name Column -->
<ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
    <mat-cell *matCellDef="let row"><div class="s-s-{{row.coinName}} currency-logo-sprite left margin-right-5"></div>
        <a class="currency-name-container" href="#">{{ row.coinName }}</a></mat-cell>
</ng-container>

<!-- Ranking Column -->
<ng-container matColumnDef="#">
    <mat-header-cell *matHeaderCellDef disableClear="true">
        #
    </mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.rank }}</mat-cell>
</ng-container>

<!-- Volumn 24h Column -->
<ng-container matColumnDef="volumn24h">
    <mat-header-cell *matHeaderCellDef>Volumn(24h)</mat-header-cell>
    <mat-cell *matCellDef="let row">${{ row['24h_volume_usd'] }}</mat-cell>
</ng-container>

<!-- Circulating Supply Column -->
<ng-container matColumnDef="supplies">
    <mat-header-cell *matHeaderCellDef>Circulating Supply</mat-header-cell>
    <mat-cell *matCellDef="let row">${{ row['total_supply'] }}</mat-cell>
</ng-container>

<!-- Change(24) Column -->
<ng-container matColumnDef="change24h">
    <mat-header-cell *matHeaderCellDef>% 24h</mat-header-cell>
    <mat-cell *matCellDef="let row"><span class="{{row['percent_change_24h']<0? 'red':'green'}}">${{ row['percent_change_24h'] }} % </span></mat-cell>
</ng-container>

<!-- Change(1h) Column -->
<ng-container matColumnDef="change1h">
    <mat-header-cell *matHeaderCellDef>% 1h</mat-header-cell>
    <mat-cell *matCellDef="let row"><span class="{{row['percent_change_1h']<0? 'red':'green'}}">${{ row['percent_change_1h'] }} % </span></mat-cell>
</ng-container>

<!-- Change(7d) Column -->
<ng-container matColumnDef="change7d">
    <mat-header-cell *matHeaderCellDef>% 7d</mat-header-cell>
    <mat-cell *matCellDef="let row"><span class="{{row['percent_change_7d']<0? 'red':'green'}}">${{ row['percent_change_7d'] }} % </span></mat-cell>
</ng-container>

<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

