<h2 class="page-header">All Cryptocurrencies Exchanges - 1 Month New Highs</h2>
<mat-tab-group>
    <mat-tab label="HIGHS">
        <mat-form-field>
            <mat-select [(ngModel)]="selectedHighs">
                <mat-option value="1M">1-Month</mat-option>
                <mat-option value="3M">3-Month</mat-option>
                <mat-option value="6M">6-Month</mat-option>
                <mat-option value="1Y">52-Week</mat-option>
            </mat-select>
          </mat-form-field>
    </mat-tab>

    <mat-tab label="LOWS">
        <mat-form-field>
            <mat-select [(ngModel)]="selectedLows">
                <mat-option value="1M">1-Month</mat-option>
                <mat-option value="3M">3-Month</mat-option>
                <mat-option value="6M">6-Month</mat-option>
                <mat-option value="1Y">52-Week</mat-option>
            </mat-select>
          </mat-form-field>
    </mat-tab>
</mat-tab-group>