<div class="jumbotron text-center">
	<h1>Markets Symbols Searching Here</h1>
	<p class="lead">Welcome to visit my app!</p>
	
</div>

<div class="bc-solutions-block">
  <div class="bc-solutions-block__row business clearfix">
    <h4 class="bc-solutions-block__row-title">Barchart Solutions For Businesses</h4>
    <div class="bc-solutions-block__row-inner" data-bc-equal-heights="">
      <div class="bc-solutions-block__tile">
        <a href="https://www.barchart.com/ondemand/" target="_blank" class="bc-solutions-block__tile-link">
          <div class="bc-solutions-block__tile-header"> OnDemand
            <br> Financial Data APIs </div>
          <div class="bc-solutions-block__tile-description" data-bc-equal-heights-item="" style="height: 68px;">
            Cloud-based financial market data APIs available through web services in JSON, XML and CSV format. </div>
        </a>
      </div>
      <div class="bc-solutions-block__tile">
        <a href="https://www.barchart.com/solutions/data" target="_blank" class="bc-solutions-block__tile-link">
          <div class="bc-solutions-block__tile-header"> Streaming
            <br> Market Data Feeds </div>
          <div class="bc-solutions-block__tile-description" data-bc-equal-heights-item="" style="height: 68px;"> Real-time, delayed and historical market data feeds across equity, futures, index and foreign exchange markets.
          </div>
        </a>
      </div>
      <div class="bc-solutions-block__tile">
        <a href="https://www.barchart.com/solutions/website-solutions" target="_blank" class="bc-solutions-block__tile-link">
          <div class="bc-solutions-block__tile-header"> Hosted
            <br> Website Solutions </div>
          <div class="bc-solutions-block__tile-description" data-bc-equal-heights-item="" style="height: 68px;"> Custom and off-the-shelf modules for easy integration of financial content into websites and apps.
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="bc-solutions-block__row premium clearfix">
    <h4 class="bc-solutions-block__row-title">Premium Services for Traders</h4>
    <div class="bc-solutions-block__row-inner" data-bc-equal-heights="">
      <div class="bc-solutions-block__tile">
        <a href="http://www.barcharttrader.com/" target="_blank" class="bc-solutions-block__tile-link">
          <div class="bc-solutions-block__tile-image">
            <img src="https://d1l7hzv7igdihb.cloudfront.net/img/trader.png" alt="Barchart Trader">
          </div>
          <div class="bc-solutions-block__tile-header"> Barchart Trader

          </div>
          <div class="bc-solutions-block__tile-description" data-bc-equal-heights-item="" style="height: 68px;"> Our professional platform for real-time market data, charting, news and futures trading. For desktop, tablet and
            phone.
          </div>
        </a>
      </div>
      <div class="bc-solutions-block__tile">
        <a href="https://www.gbemembers.com" target="_blank" class="bc-solutions-block__tile-link">
          <div class="bc-solutions-block__tile-image">
            <img src="https://d1l7hzv7igdihb.cloudfront.net/img/tif.png" alt="GBE">
          </div>
          <div class="bc-solutions-block__tile-header"> Futures Trading Education </div>
          <div class="bc-solutions-block__tile-description" data-bc-equal-heights-item="" style="height: 68px;"> For over 10 years, GBE has provided advice and &#8203;simple trading methodology to alleviate risk in Futures trading.
          </div>
        </a>
      </div>
      <div class="bc-solutions-block__tile">
        <a href="https://www.barchart.com/my/barchart-premier" target="_blank" class="bc-solutions-block__tile-link">
          <div class="bc-solutions-block__tile-image">
            <img src="https://d1l7hzv7igdihb.cloudfront.net/img/premier.png" alt="Barchart Premier">
          </div>
          <div class="bc-solutions-block__tile-header"> Barchart Premier </div>
          <div class="bc-solutions-block__tile-description" data-bc-equal-heights-item="" style="height: 68px;"> Full access to Barchart.com including no ads, advanced alerts, historical data, options analysis and more.
          </div>
        </a>
      </div>
    </div>
  </div>
</div>


