<div id="header" class="header no-print">
	<div class="company-info-bar hide-for-small no-print"> 
		<div class="row"> 
			<div class="small-6 columns"> 
				<div class="company-info">
					<a href="javascript:;" (click)="show = !show">Market Data Solutions <i class="bc-glyph-chevron-down js-company-info-icon"></i></a> 
				</div> 
			</div> 
			<!-- ngIf: selectMarket.visibility -->
			<div class="small-6 columns text-right"> 
				<div class="bc-bug-report"> 
					<a class="bc-bug-report__button" href="#"> Report an Issue </a> 
				</div> 
				<div class="bc-feedback">
					<a class="bc-feedback__button" target="_self" href="#">Site News</a> 
				</div> 
				<div class="select-market-block"> 
					<span class="market-block-title-outer">Market:</span> 
					<span class="market-dropdown-toggle" data-dropdown-toggle="#select-market-dropdown" (click)="showLang = !showLang"> 
						<span class="market-block-title-inner show-for-small-down">Market:</span> 
						<div class="bc-flag flag-us"></div>
						<i class="bc-glyph-chevron-down"></i> 
						<i class="bc-glyph-chevron-up"></i> 
					</span> 
					<ul class="f-dropdown market-dropdown" id="select-market-dropdown" *ngIf="showLang">  
						<li> <a class="current-market"> <i class="bc-glyph-check"></i> <span>US</span><div class="bc-flag flag-us"></div> </a> </li>  
						<li><a data-change-market="" data-market="ca"> <i class="bc-glyph-check"></i> <span>Canada</span><div class="bc-flag flag-ca"></div> </a> </li> 
						<li> <a data-change-market="" data-market="uk"> <i class="bc-glyph-check"></i> <span>UK</span> <div class="bc-flag flag-gb"></div> </a> </li> 
						<li> <a data-change-market="" data-market="au"> <i class="bc-glyph-check"></i> <span>Australia</span> <div class="bc-flag flag-au"></div> </a> </li> 
					</ul> 
				</div> 
			</div>
			<!-- end ngIf: selectMarket.visibility --> 
		</div> 
		<div class="company-info-inner" *ngIf="show" [@enterAnimation]> 
			<div class="row">
				<div class="small-12 column">
					<div class="company-info-row"> <h3 class="company-info-title">Financial Technology &amp; Market Data</h3> 
						<div>  
							<ul> 
								<li> <a target="_self" href="#">Data Services</a> </li> 
								<li> <a target="_self" href="#">Data Coverage</a> </li> 
								<li> <a target="_self" href="#">Data Management</a> </li> 
							</ul>  
							<ul>  
								<li> <a target="_self" href="#">Digital Solutions</a> </li>
								<li> <a target="_self" href="#">OnDemand APIs</a> </li>  
								<li> <a target="_self" href="#">Software</a> </li>  
							</ul> 
							<ul> 
								<li> <a target="_self" href="#">Indexes</a> </li> 
								<li> <a target="_self" href="#">Newswires</a> </li>
								<li> <a target="_self" href="#">Ag Solutions</a> </li>  
							</ul>  
						</div>
						<a class="company-info-close" href="javascript:closeMenu()"> <i class="bc-glyph-times"></i> </a> 
					</div>
				</div>
			</div>
		</div> 
	</div>
	<div class="bc-header clearfix no-print">
		<div class="row no-print">
			<div class="column small-12">
				<div class="bc-logo">
					<a target="_self" href="/"> <img src="https://d1l7hzv7igdihb.cloudfront.net/img/bc-logo.svg" alt="Barchart.com"> </a>
				</div>
				<a class="menu-icon right-off-canvas-toggle show-for-small-only no-print" data-trigger-event-on-click=""></a> 
				<div class="bc-user-block show-for-medium-up" data-dropdown-id="mobile">
						<!-- <div class="bc-user-block__button-wrapper nav navbar-nav navbar-left" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
								<a [routerLink]="['/']">Home</a>
						</div> -->
						<div class="bc-user-block__button-wrapper  nav navbar-nav navbar-left" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
							<a [routerLink]="['/']" class="bc-user-block__button">
								<span class="glyphicon glyphicon-home"></span>
								Home
							</a>
						</div>

						<div class="bc-user-block__button-wrapper  nav navbar-nav navbar-left" *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
							<a [routerLink]="['/dashboard']" class="bc-user-block__button">
								<span class="glyphicon glyphicon-dashboard"></span>
								Dashboard
							</a>
						</div>

						<div class="bc-user-block__button-wrapper  nav navbar-nav navbar-left" *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
							<a [routerLink]="['/profile']" class="bc-user-block__button">
								<span class="glyphicon glyphicon-user"></span>
								Profile
							</a>
						</div>

						<div class="bc-user-block__button-wrapper  nav navbar-nav navbar-left" *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
							<a [routerLink]="['/login']" class="bc-user-block__button">
								<span class="glyphicon glyphicon-log-in"></span>
								Login
							</a>
						</div>
						
						<div class="bc-user-block__button-wrapper  nav navbar-nav navbar-left" *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
							<a [routerLink]="['/register']" class="bc-user-block__button">
								<span class="glyphicon glyphicon-user"></span>
								Register
							</a>
						</div>

						<div class="bc-user-block__button-wrapper  nav navbar-nav navbar-left" *ngIf="authService.loggedIn()">
							<a (click)="onLogoutClick()" href="#" class="bc-user-block__button">
								<span class="glyphicon glyphicon-log-out"></span>
								Logout
							</a>
						</div>
					
			</div> 
			</div>
		</div>
	</div>
</div>
